/** SC.PickerPane Support */

.sc-theme .sc-pane.sc-panel.sc-picker .perfectRight {
  background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/panels/sprite-x.png') no-repeat 0px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectLeft {
  background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/panels/sprite-x.png') no-repeat -30px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectTop {
  background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/panels/sprite-x.png') no-repeat 0px -90px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectBottom {
  background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/panels/sprite-x.png') no-repeat 0px 0px;
}
