/*
==========================================================================
 Project: Greenhouse - Main Application Interface Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/


/* Toolbar */

.ace .toolbar {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/toolbar-bg.png') repeat-x;
  border-bottom: none;
}

.greenhouse-logo-s {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/logos/greenhouse-s.png') no-repeat;
}

.toolbar .title {
  color: #B3D93B;
  text-shadow: 0 1px 0 #000;
  line-height: 24px;
  font-size: 13px;
}

/* Toolbar Icons */

.toolbar .projects {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/projects.png') no-repeat;
  width: 28px;
  height: 14px;
}
.toolbar .save {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/save.png') no-repeat;
  width: 14px;
  height: 15px;
}
.toolbar .run {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/run.png') no-repeat;
  width: 10px;
  height: 12px;
}
.toolbar .library {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/library.png') no-repeat;
  width: 21px;
  height: 16px;
}
.toolbar .inspector {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/inspector.png') no-repeat;
  width: 25px;
  height: 17px;

}
.toolbar .actions {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/actions.png') no-repeat;
  width: 28px;
  height: 17px;

}

.toolbar .projects.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/projects-active.png') no-repeat;
}
.toolbar .save.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/save-active.png') no-repeat;
}
.toolbar .run.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/run-active.png') no-repeat;
}
.toolbar .library.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/library-active.png') no-repeat;
}
.toolbar .inspector.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/inspector-active.png') no-repeat;
}
.toolbar .actions.active {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/icons/actions-active.png') no-repeat;
}

/* Workspace */

.workspace,
.workspace > div.sc-web-view {
  background: url('/static/sproutcore/experimental/greenhouse/en/08079d9a1d7e22a55e194f6420936b30e549b3da/source/images/main-bg.png');
}

.workspace .design {
  border: 1px solid #1c1c1c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
}
