
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/cbaecc4b50e025759d6c26e1635b0abea72b9e3c/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


